 @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
 /* font-family: 'Pixelify Sans', cursive; */
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Pixelify Sans', cursive;}

body{
background-image: url(/img/logo.jpg);
background-size: 100px;
background-color: gray;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    height: 80px;
    font-family: 'Pixelify Sans', cursive;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h2{
    color: black;
}

/*Empieza el header*/

.logo{
    font-size: 40px;
}

.header-grid-container ul li{
    list-style-type: none;
    display: inline-block;
}

.header-grid-container a{
    text-decoration: none;

}
/* Termina el header */
main{
    height: calc(100vh - 20px);   
    background-color: black;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;   
}
/* Empieza el index */



.bienvenida-grid-container{
    background-color: rgb(0, 0, 255, 0.5);
    width: 80%;
    padding: 30px;
    
}

.bienvenida-grid-container p{
    margin-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.bienvenida-grid-container a{
    color: blue;
    background-color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 15px;
}

.section-grid-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}


.div-grid-container{
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius: 15px;
    border: 10px solid silver;
    background-color: black;
}

.div-grid-uno{
    height: 200px;
    background-image: url(/img/monitorgamer.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
}

.div-grid-dos{
    height: 200px;
    background-image: url(/img/gabinete.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;

}

.div-grid-tres{
    height: 200px;
    background-image: url(/img/procesador.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;

}

.div-index p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    font-size: 15px;
}

.productos-itotales{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.precio-iproductos{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.botoncompra{
    padding: 10px;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
}

/* Termina el index */



/* Empieza productos.html */
.main-productos{
    background-image: url(/img/asuslogo.jpg);
}

.h2productos{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    background-color: blue;
}

.div-productos-titulo{
    background-color: rgba(0, 255, 183, 0.5);
    width: 80%;
    padding: 20px;
    text-align: center;
}

.section-productos{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.h2lomasvendido{
    font-size: 35px;
    padding: 15px;
    width: 90%;
    background-color: blue;
}

.div-productos{
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius: 15px;
    border: 10px solid blue;
    background-color: black;
}

.productouno{
    height: 200px;
    background-image: url(/img/monitorgamer.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
}

.productodos{
    height: 200px;
    background-image: url(/img/gabinete.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;

}

.productotres{
    height: 200px;
    background-image: url(/img/procesador.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;

}

.div-productos p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    font-size: 15px;
}

.productos-totales{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.precio-productos{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.botoncompra{
    padding: 10px;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
}
/* Termina productos.html */


/* empieza nosotros.html */
 .main-nosotros{
    background-image: url(/img/razerlogo.png);

} 

.div-nosotros{
    background-color: rgba(0, 229, 255, 0.5);
    width: 80%;
    padding: 30px;
    
}
.h1nosotros{
    text-align: center;
    font-size: 40px;
}
.div-nosotros a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.div-nosotros p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* termina nosotros.html */






/* Empieza el footer */
#footer{
    background-color: blue;
    font-size: 20px;
    padding: 10px;
}

.div-footer{
    text-align: right;
    font-size: 15px;
}