/* Empieza el footer */

#footer {
    background-color: $background-color-azul;
    font-size: 20px;
    padding: 10px;
}

.div-footer {
    text-align: right;
    font-size: 15px;
}

/*Termina el footer*/