/*Empieza el header*/

.logo {
    font-size: 40px;
}

.header-grid-container {
    ul li {
        list-style-type: none;
        display: inline-block;
    }

    a {
        text-decoration: none;
    }
}

/* Termina el header */