/*Empieza el header*/

@mixin anclas {
    text-decoration: none;
    color: $color-negro;
}

.logo {
    font-size: 40px;
}

.header-grid-container {
    ul li {
        list-style-type: none;
        display: inline-block;
    }

    a {
    @include anclas;
    }
}

/* Termina el header */